.header {
    background-color: #f6f8fa;
    padding: 16px;
    box-shadow: inset 0 calc(var(--borderWidth-thin, 1px) * -1) #d0d7de;
    height: 32px;
    // position: fixed;
    width: 100%;
}

.main {
    display: flex;
    height: 100vh;
    border-bottom: 1px solid #d0d7de;
}

.sidebar {
    padding: 16px 24px;
    background-color: #ffffff;
    width: fit-content;
    border-right: 1px solid #d0d7de;
    width: 350px;
    box-sizing: border-box;
    color: rgb(36, 41, 47);
    overflow-y: scroll;
    font-size: 14px;
    flex-shrink: 0;
}

.content {
    background-color: #f6f8fa;
    width: 100%;
    padding: 16px 24px;
}

.playerCard {
    padding: 5px 12px;
    color: #6e7781;
    background-color: #f6f8fa;
    border-radius: 6px;
    border: solid 1px #d0d7de;
    margin-bottom: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.rank {
    color: rgb(36, 41, 47);
    width: 30px;
    margin-right: 14px;
    text-align: center;
}

.positionBadge {
    border-radius: 3px;
    font-weight: 800;
    height: 16px;

    color: #13284a;
    font-size: 11.5px;
    width: fit-content;
    padding: 3px 4px;
    width: 52px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    flex-shrink: 0;

    &.WR {
        background-color: #85de9e;
    }

    &.RB {
        background-color: #83dcef;
    }

    &.QB {
        background-color: #c8a1ff;
    }

    &.TE {
        background-color: #ff8aa2;
    }

    &.K {
        background-color: #fdb97c;
    }

    &.DST {
        background-color: #bdc3cd;
    }
}

.name {
    color: rgb(36, 41, 47);
    overflow-x: hidden;
}

.team {
    font-size: 12px;
}

.playerInfo {
    width: 100%;
}

.image {
    height: 100%;
    position: relative;
    left: -10%;
    top: 8%;
}

.imageContainer {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    border: 1px solid rgba(27, 31, 36, 0.15);
    background-color: #d0d7de;
}
