.header {
    background-color: #f6f8fa;
    // padding: 16px;
    box-shadow: inset 0 calc(var(--borderWidth-thin, 1px) * -1) #d0d7de;
    height: 32px;
    position: fixed;
    width: 100%;
    display: flex;
    color: rgb(31, 35, 40);
    font-weight: 600;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    height: fit-content;
}

.main {
    display: flex;
    height: 100vh;
    border-bottom: 1px solid #d0d7de;
}

.sidebar {
    background-color: #ffffff;
    width: fit-content;
    border-right: 1px solid #d0d7de;
    width: 350px;
    box-sizing: border-box;
    color: rgb(36, 41, 47);
    overflow-y: scroll;
    font-size: 14px;
    flex-shrink: 0;
    position: relative;
}

.content {
    background-color: #f6f8fa;
    width: 100%;
    padding: 16px 24px;
}

.playerCard {
    cursor: pointer;
    padding: 5px 12px;
    color: #6e7781;
    background-color: #f6f8fa;
    border-radius: 6px;
    border: solid 1px #d0d7de;
    margin-bottom: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;

    &.light {
        background-color: white;
        padding: 16px;
    }
}

.rank {
    color: rgb(36, 41, 47);
    width: 30px;
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.positionBadge {
    border-radius: 3px;
    font-weight: 800;
    height: 16px;

    color: #13284a;
    font-size: 11.5px;
    width: fit-content;
    padding: 4px 4px;
    width: 52px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    flex-shrink: 0;

    &.WR {
        background-color: #85de9e;
    }

    &.RB {
        background-color: #83dcef;
    }

    &.QB {
        background-color: #c8a1ff;
    }

    &.TE {
        background-color: #ff8aa2;
    }

    &.K {
        background-color: #fdb97c;
    }

    &.DST {
        background-color: #bdc3cd;
    }
}

.name {
    color: rgb(36, 41, 47);
    overflow-x: hidden;
}

.team {
    font-size: 12px;
}

.playerInfo {
    width: 100%;
}

.image {
    height: 100%;
    position: relative;
    left: -10%;
    top: 8%;
}

.imageContainer {
    width: 24px;
    height: 24px;
    overflow: hidden;
    margin-right: 10px;
    border: 1px solid rgba(27, 31, 36, 0.15);
    background-color: #d0d7de;
}

.divider {
    border-bottom: 2px solid #0969da;
    margin: 16px 0;
    position: relative;
    display: flex;
    justify-content: center;
    color: #0969da;
}

.divider2 {
    border-bottom: 2px solid #1f883d;
    margin: 16px 0;
    position: relative;
    display: flex;
    justify-content: center;
    color: #1f883d;
}

.nextPick {
    position: absolute;
    top: -12px;
    background-color: white;
    border-radius: 4px;
    padding: 0 4px;
    font-weight: 600;
}

.badge {
    width: 60px;
    height: 80px;
    background-color: #f6f8fa;
    border-radius: 6px;
    font-size: 12px;
}

.potentialNumberOneIcon {
    color: gold;
}

.potentialTopTwelveIcon {
    color: silver;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.filter {
    // position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 5px;
}

.players {
    padding: 16px 24px;
}

.positionFilterOption {
    width: 50px;
    border-radius: 3px;
    font-size: 12px;
    border: solid 2px #13284a;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    color: #13284a;
    margin: 3px 10px;

    &.active {
        background-color: #13284a;
        color: white;
    }

    &.QB {
        border-color: #c8a1ff;
        color: #c8a1ff;

        &.active {
            background-color: #c8a1ff;
            color: white;
        }
    }

    &.RB {
        border-color: #83dcef;
        color: #83dcef;

        &.active {
            background-color: #83dcef;
            color: white;
        }
    }

    &.WR {
        border-color: #85de9e;
        color: #85de9e;

        &.active {
            background-color: #85de9e;
            color: white;
        }
    }

    &.TE {
        border-color: #ff8aa2;
        color: #ff8aa2;

        &.active {
            background-color: #ff8aa2;
            color: white;
        }
    }

    &.K {
        border-color: #fdb97c;
        color: #fdb97c;

        &.active {
            background-color: #fdb97c;
            color: white;
        }
    }

    &.DST {
        border-color: #bdc3cd;
        color: #bdc3cd;

        &.active {
            background-color: #bdc3cd;
            color: white;
        }
    }

    &.FLEX {
        border-color: #adc1ba;
        color: #adc1ba;

        &.active {
            background-color: #adc1ba;
            color: white;
        }
    }
}

.lovedPlayer {
    color: #ff78ae;
}

.top {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.remainingLabel {
    font-size: 12px;
    color: rgb(31, 35, 40);
    margin-right: 10px;
    border: solid 2px #d0d7de;
    background-color: #f6f8fa;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 8px;
}
